@model LohnverrechnerGastro.Models.Table


@{
    ViewData["Title"] = "Update";
}

<h3>Update</h3>

<form asp-controller="home" asp-action="update" method="post">
    <input type="hidden" asp-for="Cnumber" />
    <p>@Model.TableName
        <label asp-for="Column1">@Model.Column1Name</label> <br />
        <input asp-for="Column1" />
        <span asp-validation-for="Column1"></span>
    </p>
    <p>
        <label asp-for="Column2">@Model.Column2Name</label> <br />
        <input asp-for="Column2" />
        <span asp-validation-for="Column2"></span>
    </p>
    <p>
        <label asp-for="Column3">@Model.Column3Name</label> <br />
        <input asp-for="Column3" />
        <span asp-validation-for="Column3"></span>
    </p>
    @if (Model.TableName == "dg_abgaben" || Model.TableName == "dg_abgaben_sz"){
        <p>
            <label asp-for="Column4">@Model.Column4Name</label> <br />
            <input asp-for="Column4" />
            <span asp-validation-for="Column4"></span>
        </p>
        <p>
            <label asp-for="Column5">@Model.Column5Name</label> <br />
            <input asp-for="Column5" />
            <span asp-validation-for="Column5"></span>
        </p>
    }
    <p>

        <input type="submit" value="absenden" />
        <input type="reset" value="abbrechnen" />
    </p>
</form>